@import url(general.css);

:root {
    --px:10px;
    --blue-bg: hsl(235,85%,10%,.5)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;

}

/* global --------------------------------------------------------------------------------- */
ul { list-style-type: none; }
a {
    text-decoration: none;
    color: white;
}
hr {width: 100%;}
.gradient-clip-1 {
    -webkit-text-fill-color: transparent;
    background: #020022;
    background: linear-gradient(130deg,#020022,#103788 34%,#00bde3);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
}
.gradient-clip-light, .gradient-light {
    background: #020022;
    background: linear-gradient(130deg,#103788,#00bde3 50%,#0949b1);
}
.gradient-clip-light {
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
}
.gradient-2 {
    background: #5d6063;
    background: linear-gradient(316deg,#141516,#373e46 51%,#1f2730);
}
.title-1 {
    position:relative;
    left: -4px;
}


/* header --------------------------------------------------------------------------------- */
header {
    width:100%;
    position: fixed;
    background-color: rgb(0,0,0,.5);
    z-index:15;
}

nav{
    color:white;
}
nav > span{ cursor: pointer; }

nav a {
    display: inline-block;
    padding: 5px 10px;
}
nav li:hover {
    background-color:#acacac70;
}


@media(max-width:768px) {
    /* class used with javascript */
    .showMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 5px;
        right: 5px;
        top: 60px;
    }
}

/* hero section -------------------------------------------------------------------- */
#hero-section {
    min-height: 10vh;
    height: fit-content;
    background-image: url(../images/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: white;
    padding-block: 80px;
}
#hero-section > div {
    z-index: 10;
}
#hero-section::before{
    content: '';
    z-index:1;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.5);
}
#hero-section::after{
    --blur:25;
    content: '';
    z-index:5;
    position:absolute;
    top:0;
    width: 60%;
    height: 100%;
    mask-image: linear-gradient(90deg,#000 50%,transparent);
    backdrop-filter: blur(calc(var(--blur)*1px));
    -webkit-backdrop-filter: blur(calc(var(--blur)*1px));
    background: var(--blue-bg);
}
#hero-section h2 {
    font-weight: 500;
}
#hero-section h3 {
    font-weight: 300;
}
#hero-section h3 span{
    font-family: cursive;
}

.wm-vlr {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.avatar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    --c1: rgba(148,186,223,.3);
    --c2: rgba(51,71,99,.7);
    --xy: 16;
    -moz-box-box-shadow: 0 0 0 1px hsla(0,0%,54%,.75),calc(var(--xy)*-1px) calc(var(--xy)*-1px) 0 0 green,calc(var(--xy)*-2px) calc(var(--xy)*-2px) 8px 1px green;
    -moz-box-box-shadow: 0 0 0 1px hsla(0,0%,54%,.75),calc(var(--xy)*-1px) calc(var(--xy)*-1px) 0 0 var(--c1),calc(var(--xy)*-2px) calc(var(--xy)*-2px) 8px 1px var(--c2);
    box-shadow: 0 0 0 1px hsla(0,0%,54%,.75),calc(var(--xy)*1px) calc(var(--xy)*1px) 0 0 green,calc(var(--xy)*2px) calc(var(--xy)*2px) 8px 1px green;
    box-shadow: 0 0 0 1px hsla(0,0%,54%,.75),calc(var(--xy)*1px) calc(var(--xy)*1px) 0 0 var(--c1),calc(var(--xy)*2px) calc(var(--xy)*2px) 8px 1px var(--c2);
    -webkit-box-shadow: 0 0 0 1px hsla(0,0%,54%,.75),calc(var(--xy)*-1px) calc(var(--xy)*-1px) 0 0 green,calc(var(--xy)*-2px) calc(var(--xy)*-2px) 8px 1px green;
    -webkit-box-shadow: 0 0 0 1px hsla(0,0%,54%,.75),calc(var(--xy)*-1px) calc(var(--xy)*-1px) 0 0 var(--c1),calc(var(--xy)*-2px) calc(var(--xy)*-2px) 8px 1px var(--c2);
}

#profile-div {
    aspect-ratio: 1/1.3;
}

#profile-div span {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-weight: 700;
    top: .1em;
    right: -.45em;
    line-height: .85em;
    
}

/* project section ----------------------------------------------------------------- */

#project-box {
    width: 100%;
    color: #ffffff;
    background-color: rgb(0,20,50, .3);
    border-radius: 5px;
}

.project-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    aspect-ratio: 1.2;
    transition: all .1s ease-in-out;
}



.project-item:hover {
    transform: scale(1.05) !important;
}

.project-item img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.project-item .label {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:10px;
}

#image-viewer {
    position: fixed;
    padding: 20px;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 20;
}

#image-viewer-title {
    --fvw:.5;
}

.show-image-viewer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

#image-viewer > .df {
    width: 100%;
}

#image-viewer img {
    border: 1px solid gray;
    max-height: 70vh;
}

#image-viewer button {
    padding: .5em 1.5em;
    border: 1px solid white;
    color: #ffffff;
    background: transparent;
    border-radius: 5px;
}
#image-viewer button:hover {
    background: rgb(255, 255, 255, 0.4);
}

#image-viewer path {
    fill: #ffffff;
}

/* about section ----------------------------------------------------------------- */

.text-dark {
    color: #666666;
}

.text-gray {
    color: #808080;
}

#about-section h2 {
    margin-right: auto;
}

.gradient-1 {
    background: #020022;
    background: linear-gradient(130deg,#020022,#103788 34%,#00bde3);
}

/* skill-list-div -------------------------------- */
#skill-list-div {
    padding: 24px;
    border-radius: .4em;
    color: hsl(0,0%,90%);
}

#skill-list-div h2 {
    position: relative;
    font-weight: bold;
    width: 100%;
}

#skill-list-div hr {
    margin-top: 28px !important;
    width: 100%; 
    margin: 12px; 
    border: none;
    border-top: 1px solid #808080;
}

#skill-list-div h2 .bullet {
    position: absolute;
    top: 28%;
    left: -3px;
    height: 1em; 
    width: 7px; 
    border-radius: 3px;
}
#skill-list-div h2 .span-title {
    padding-left: 12px;
}

#skill-list-div a {
    margin-left: .7em; 
}

#skill-list-div p, .item-box {
    line-height: 1em; 
    padding: 8px 12px;
    border-radius: .25em; 
    color: #ffffff; 
    background: hsl(210,30%,30%);
    white-space: nowrap;
}

/* contact section ---------------------------------------------------------------- */

#contact-section {
    position: relative;
    background-image: url(../images/img-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#mask {
    position: absolute;
    background: hsl(223.14deg 79.44% 5.79% / 87%);
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

#contact-section h1 {
    margin-bottom: 1rem; 
    font-weight: bold; 
    color: hsl(0,0%,100%,.2);  
    z-index: 1;
}

#contact-section h2 {
    max-width: 100%;
}

#contact-section .box {
    border-radius: .3em; 
    padding: 2rem; 
    background: hsl(212, 12%, 24%, .7);
    width: fit-content;
}
